button {
    background-color: ghostwhite;
}

button:hover {
    background-color: cornflowerblue;
    color: ghostwhite;
    transition: background-color, color;
    transition-duration: 2s;
}

.caption {
    position: relative;
    overflow: hidden;
}